* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to top, rgb(255, 255, 255), rgb(31, 40, 37));
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* HEADER */

.main-header {
  background: #003f82;
  color: rgb(8, 62, 33);
  padding: 15px 20px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}
.logo:hover {
  opacity: 0.9;
}
.logo a{
  color: white;
  text-decoration: none;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 8px;
}
#cart-count{
  color: white;
  font-weight: bold;
}

.menu-btn {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: white;
}

.search-container {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.search-container input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.search-container button {
  padding: 10px 15px;
  border: none;
  background: #ef7f16;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* PRODUCTS */

main {
  flex: 1;
  padding: 25px;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.product {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  text-align: center;
}

.product:hover {
  transform: translateY(-5px);
}

.product img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.product button {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  background: #333dfc;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.product button:hover {
  cursor: pointer;
  transition: 0.3s;
  background: #000dff;
}

/* CART DRAWER */

.cart-drawer {
  position: fixed;
  top: 0;
  right: -100%;
  width: 350px;
  max-width: 100%;
  height: 70%;
  background: white;
  box-shadow: -3px 0 15px rgba(2, 22, 246, 0.2);
  padding: 20px;
  transition: right 0.3s ease;
  overflow-y: auto;
  z-index: 1000;
}

.cart-drawer.active {
  right: 0;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-header button{
  width: 10%;
  
}

.cart-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}


.qty-controls {
  display: flex;
  gap: 10px;
  align-items: center;
}

.qty-controls button {
  padding: 5px 10px;
  background: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
}

.remove-btn {
  background: rgb(252, 0, 0);
  border: none;
  color: white;
  padding: 5px 8px;
  margin-top: 5px;
  border-radius: 4px;
}

.checkout-btn {
  width: 100%;
  padding: 10px;
  background: rgb(40, 2, 250);
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 15px;
}

.checkout-btn:hover {
  background: rgb(103, 118, 255);
}


/* RESPONSIVE BREAKPOINTS */

/* Tablets */
@media (max-width: 992px) {
  .product-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

/*  MOBILE */
@media (max-width: 600px) {

  body {
    overflow-x: hidden;
  }

  .header-top {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .logo {
    font-size: 20px;
  }

  .search-container {
    flex-direction: column;
  }

  .search-container input {
    width: 100%;
  }

  .search-container button {
    width: 100%;
  }

  main {
    padding: 15px;
  }

  .product-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .product img {
    height: 130px;
  }

  .cart-drawer {
    width: 100%;
    height: 100%;
  }

  .checkout-container {
    margin: 20px;
    padding: 20px;
    
  }

}

/*  CHECKOUT PAGE  */

.checkout-container {
  width: 40%;
  height: 80vh;
  max-width: 700px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.checkout-container h1 {
  margin-bottom: 25px;
  text-align: center;
}

.checkout-items {
  margin-bottom: 25px;
}

.checkout-items div {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #942323;
}

.checkout-summary {
  text-align: center;
}

.place-order-btn {
  margin-top: 15px;
  padding: 12px 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: 0.3s;
}

.place-order-btn:hover {
  background: #333;
}

/* Mobile */
@media (max-width: 600px) {
  .checkout-container {
    margin: 20px;
    padding: 20px;
  }
}

/* AUTH PAGES */

.auth-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to top, rgb(255, 255, 255), rgb(31, 40, 37));
}

.auth-card {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  background: #36485b;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.auth-btn:hover {
  background: #2b3846;
}

/* Header Button */

#auth-btn {
  padding: 8px 15px;
  background: #ef7f16;
  border: none;
  color: white;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

#auth-btn:hover {
  background: #d86e0d;
}

/* Product Not Found */

.not-found {
  text-align: center;
  width: 100%;
  padding: 50px 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.not-found h2 {
  color: #36485b;
  margin-bottom: 10px;
}

.not-found p {
  color: #777;
}

/* Footer */

footer {
  background: #212023;
  color: #ccfa00;
  text-align: center;
  font-family: monospace;
  padding: 15px;
  margin-top: 30px;
}

#mail a{
  color: white;
  text-decoration: none;
}
